* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.carousel {
    position: relative;
}

.slide-thumb {
    display: none;
}

.active-slide {
    display: block;
}


.arrow {
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-left {
    left: 1.5rem;
}

.arrow-right {
    right: 1.5rem;
}